@media (min-width: 1400px){
  .carousel {
      width: 1320px;
      margin: 0 auto;
  }
}
.article-content .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 0px) {
  .boot-list {
    display: block;
  }
  .boot-table {
    display: none;
  }

}
@media (min-width: 992px) {
  .boot-list {
    display: none;
  }
  .boot-table {
    display: block;
  }
}
.community-text {
  font-size: 90px;
  text-align: center;
  width: 100%;
  font-size: 5vw;
  margin-bottom: 20px;
}

.top-padding {
  padding-top: 80px;
}

.footer {
  display: flex;
  height: 40px;
  background-color: lightgray;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
  