* {
    padding: 0;
}
.board {
    width: 800px;
    height: 800px;
    border: 2px solid black;
}
.white-box {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 0;
}
.black-box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 0;
}
.flex {
    display: flex;
}
.image-size {
    width: 100px;
    height: 100px;
}