* {
  font-family: 'Noto Sans KR', sans-serif;
}

.frontpage {
  height: 300px;
  background-color: lightgray;
}

.intro {
  height: 300px;
}

.project {
  height: 300px;
  background-color: lightgray;
}

.skills {
  height: 300px;
}

.footer {
  display: flex;
  height: 50px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* 1. not-provied 클래스를 기본적으로 보이지 않도록 설정 */
.not-provied {
    display: none;
}
/* 2. 470px 밑으로 가면, not-provied만 보이도록 */
@media (max-width: 470px) {
  main,
  section,
  nav,
  footer {
    /* 우선순위 */
    display: none !important;
  }
  .not-provied {
    display: block;
  }
}
